// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// Color
$blue-light-color: #4379cb;
$blue-dark-color: #274d86;
$blue-deep-dark-color: #12305e;
$white-color: #ffffff;
$sliver-light-color: #a6a6a6;
$sliver-dark-color: #494949;
$red-color: #ff0000;